<header class="cabecera-barra">
    <div class="cabecera-barra-1">       
        <div class="cabecera-separador">
            <h1>Sys<span>Com</span></h1>       
            <nav>
                <a href="#" routerLink="tasks" class="activo">Listar tareas</a>        
                <a href="#" routerLink="create" class="activo">Crear Tareas</a>
                <a href="#" routerLink="tablas" class="activo">Test Tablas</a>
                <a href="#" class="activo">Elementos</a>
                 
            </nav>  
        </div>
    </div>
 
    <div class="padre-flex">
        <div class="content">
       
                <a *ngIf="!authService.isLogged()" href="signup">Registrar</a>
                <a *ngIf="!authService.isLogged()" href="loguin" style="margin-left: 10px">Iniciar Sesion</a>
                <a *ngIf="authService.isLogged()" (click)="authService.logoutUser()" class="logouser">Cerrar sesion <mat-icon> person_pin</mat-icon></a>         
            
        </div>
    </div>
</header>







