.example-spacer {
    flex: 1 1 auto;
  }

a{
    color: azure;
    text-decoration: brown;
}

.mat-toolbar{
  
  /*background: linear-gradient(rgb(119, 10, 24), white);*/
  background: linear-gradient(to left, rgb(12, 1, 1), rgb(15, 1, 1) 70%, rgb(7, 1, 1));
  size: 0%;
  
}