<div class="userLog"><p>Bienvenid@ {{userLogger}}</p></div>
<div class="form">
    <mat-card class="card">
        <mat-card-title>Crear Tarea</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="createTask.name" matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="createTask.description" matInput placeholder="Descripcion">
                </mat-form-field>
                <!--<input type="file" (change)="onFileSelected($event)">-->
            </div>
        </mat-card-content>
        <mat-card-actions>
            <!--<button (click)="createUploadImage()" class="button" mat-raised-button color="accent">Crear</button>-->
            <button (click)="create()" class="button" mat-raised-button color="accent">Crear</button>
        </mat-card-actions>
    </mat-card>
</div>



