<head>
    <scrip src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js">
        
    </scrip>
</head>


<div class="form">
    <mat-card class="card">
        <mat-card-title>Registro</mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="signUpUser.nombre" matInput placeholder="Nombre Usuario">
                </mat-form-field>
                <mat-form-field>
                    <input type="password" [(ngModel)]="signUpUser.password" matInput placeholder="Password">
                </mat-form-field>
                <mat-label>Roles</mat-label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="signUpUser.tipo">
                        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                            {{season}}
                        </mat-radio-button>
                    </mat-radio-group>
                <!--<div>Your favorite season is: {{signUpUser.tipo}}</div>-->
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="signUp()" class="button" mat-raised-button color="primary">Registrar</button>
        </mat-card-actions>
    </mat-card>
</div>


