<div class="userLog"><p>Bienvenid@ {{localuser}}</p></div>
<div class="accordion_display">
    <div class="accordion_size">
        <mat-accordion multi="true" *ngIf="tasks.length">
            <mat-expansion-panel *ngFor="let task of tasks" hideToggle = "false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span class="text_center">{{task.name}}</span>
                        <span class="spacer"></span>
                        <button class="btDone" *ngIf="task.status == 'Terminado'" mat-raised-button>{{task.status}}</button>
                        <button class="btInProgress" *ngIf="task.status == 'En progreso'" mat-raised-button>{{task.status}}</button>
                        <button class="btToDo" *ngIf="task.status == 'Hacer'" mat-raised-button>{{task.status}}</button>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                    {{task.description}}
                </mat-panel-description>
                <mat-panel-description>
                    <!--<img class="image_center" src={{task.imageUrl}} width="300" height="300">-->
                </mat-panel-description>
                <mat-action-row>
                    <button class="btSelectTodo" mat-button (click)="changeStatus(task, 'Hacer')">Hacer</button>
                    <button class="btSelectInProgress" mat-button (click)="changeStatus(task, 'En progreso')">En progreso</button>
                    <button class="btSelectDone" mat-button (click)="changeStatus(task, 'Terminado')">Terminado</button>
                    <span class="spacer"></span>
                    <mat-icon color="primary" (click)="delete(task)">delete</mat-icon>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>